.default_container{
    width: 90% !important;
    max-width: 1140px !important;
    margin-left: auto;
    margin-right: auto;
}

.headers_title{
    text-align: center;
    color: $header-color;
    font-family: 'Playfair Display';
    font-size: 40px;
    font-weight: 900;
}


.page_header_padding{
    padding-top:4.9rem;
    padding-bottom:4.9rem;
}